<div class="container">


    <div class="well well-sm">

        <a href="{{ url_for('question_description', question_id=question2.question_id) }}">
            <h3> {{question2.title }}</h3>
        </a>

    </div>

</div>