{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="p-5 well well-sm">
        <h1>Ask a public question</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-group">
                <p>
                    <h3>{{ form.title.label }}</h3><br>
                    {{ form.title(size=500) }}<br>
                    {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <div class="form-group">
                <p>
                    <h3>{{ form.body.label }}</h3><br>
                    {{ form.body(size=500) }}<br>
                    {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <div class="form-group">
                <p>
                    <h3>{{ form.tag.label }}</h3><br>
                    {{ form.tag(size=200) }}<br>
                    {% for error in form.tag.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <p>{{ form.submit() }}</p>
    </div>
</div>

{% endblock %}