{% extends "base.html" %}

{% block content %}
<h1>An unexpected error has occurred</h1>
<p>You dont have permission to access this server!</p>
<p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}