{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<h1>{{ Title }}</h1>


<div class="container">
    <div class="p-5">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Questions</h2>
                </div>
                <div class="col-sm-6"><a href="{{ url_for('ask_question') }}">
                        <span aria-hidden="true">&larr;</span>
                        <h2>&lt;Ask question/&gt;</h2>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% for question2 in question1 %}
{% include '_question.html' %}
{% endfor %}
{% endblock %}