{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="p-5">
        {% if each_question_user_id|int==current_user_id|int %}
        <td><a href="{{ url_for('edit',question_id=question.question_id) }}">
                <h3>Edit question</h3>
            </a> </td>
        {% endif %}

        <div class="well well-sm">
            <h1>Title</h1>
            <h4>{{question.title}}</h4>
        </div>
        <div class="well well-sm">
            <h1>Content</h1>
            <h4>{{question.content}}</h4>
        </div>
        <div class="well well-sm">
            <h1>Tags</h1>
            {% for tag in tags %}
            <h4>{{tag.content}}</h4>

            {% endfor %}
        </div>
        <div class="well well-sm">
            <h1>Your answer</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    <h3> {{ form.body.label }}</h3><br>
                    {{ form.body(size=500) }}<br>
                    {% for error in form.body.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
        </div>
        <div class="well well-sm ">
            <h1>Answer</h1>
            {% for a in answer %}
            <div class="well well-rm">{{a.content}}</div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}